.nt-big-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Cera Pro', sans-serif;

    &__img-wr {
        position: relative;
        width: 100%;

        &::after {
            content: '';
            position: relative;
            display: block;
            width: 100%;
            padding-block-start: 115.47%;
        }

        picture {
            position: absolute;
            @include push-full;
        }
    }

    &__img {
        @include contain-image;
    }

    &__badge {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 2;
    }

    &__content-wr {
        margin-block-start: 2rem;
        text-align: center;
    }

    &__title, &__desc {
        transition: var(--transition);
    }

    &__title {
        color: var(--color_ink);
        font-size: 2.2rem;
        font-family: 'NoeDisplay-RegularV2';
        font-weight: 500;
    }

    &__desc {
        margin-block-start: .5rem;
        margin-inline: auto;
        max-width: 22rem;
        font-size: 1.4rem;
        line-height: 120%;
        font-weight: 500;
        color: var(--color_gray);

        .strong-text {
            font-weight: inherit;
        }
    }

    &__price {
        margin-block-start: 1rem;
        color: var(--color_leaf);
        font-size: 1.8rem;
    }

    &:hover {
        text-decoration: none;

        .nt-big-product {
            &__title, &__desc {
                color: var(--color_leaf);
            }
        }
        // End inner
    }
    // End hover
}
// End inner

@include media-M {
    .nt-big-product {
        &__badge {
            top: 1rem;
            left: 1rem;
        }

        &__title {
            font-size: 1.8rem;
        }

        &__price {
            margin-block-start: .5rem;
            font-size: 1.6rem;
        }
    }
    // End inner
}
// End M