.text {
    &--h1 {
        font-size: 8rem;
        font-weight: 400;
        line-height: 1;
    }
    // End H1

    &--h2 {
        font-size: 4.8rem;
    }
    // End h2

    &--p {
        font-size: 1.8rem;
    }
    // End P
}
// End inner

@include media-LXL {
    .text {
        &--h1 {
            font-size: 6rem;
        }
        // End H1

        &--h2 {
            font-size: 3.6rem;
        }
        // End h2

        &--p {
            font-size: 1.6rem;
        }
        // End P
    }
    // End inner
}
// End LXL

@include media-L {
    .text {
        &--h2 {
            font-size: 3.2rem;
        }
        // End h2
    }
    // End inner
}
// End L

@include media-M {
    .text {
        &--h1 {
            font-size: 5rem;
        }
        // End H1

        &--h2 {
            font-size: 2.8rem;
        }
        // End h2
    }
    // End inner
}
// End M
