:root {
    --font_general: 'CeraPro', sans-serif;
    --font_title: "NoeDisplay", sans-serif;
    --transition: .3s ease-in-out;

    --color_snow: #EDEDEB;
    --color_leaf: #2A4934;
    --color_ink: #221E1F;
    --color_gray: #7C7C7C;
}
