.nt-big-product-slider {
    background: #fff;
    padding-block: 8rem;

    &__hading {
        margin-block-end: 4rem;
    }

    &__slider {
        position: relative;
    }

    &__arrow {
        position: absolute;
        @include push--middle;
        @include square(5rem);
        padding: 0;
        background: transparent;
        border: none;
        outline: none;

        svg {
            width: 100%;
            height: 100%;

            path {
                transition: var(--transition);
            }
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        &:disabled {
            opacity: .3;
            cursor: default;
        }

        &:hover, &:active, &:focus {
            outline: none;
        }

        &:not(:disabled):hover {            
            svg {
                path {
                    stroke: var(--color_leaf);
                }
            }
        }
    }
}
// End inner

@include media-L {
    .nt-big-product-slider {
        padding-block: 4rem;
    }
    // End inner
}
// End L

@include media-M {
    .nt-big-product-slider {
        overflow: hidden;

        &__hading {
            margin-block-end: 3rem;
        }

        &__slider-wr {
            width: 65vw;
        }

        &__arrow--next {
            right: -30vw;
        }

        &__track {
            overflow: visible;
        }

        &__arrow {
            @include square(3.5rem);
        }
    }
    // End inner
}
// End inner