.product-kombucha {
    font-family: 'Cera Pro', sans-serif;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;
    }

    &__img:nth-child(3) {
        grid-column: span 2;
    }

    &__img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 100%;
        }
    }

    &__upper-heading {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-block-end: 1.5rem;

        .pro-label {
            margin: 0;
        }
    }

    &__warning {
        font-size: 1.4rem;
        font-weight: 500;
        color: #221E1F;
        text-transform: uppercase;
    }

    &__summary {
        .custom-product-additional-details {
            gap: 3rem;

            .custom-details {
                &:last-child {
                    margin-inline-start: auto;
                }
            }
        }
    }

    &__descr {
        color: #221E1F;
        font-size: 1.8rem;
        line-height: 140%;
    }

    &__add-to-cart {
        form {
            .custom-product-text {
                & > p {
                    display: none;
                }

                .variations {
                    tbody {
                        tr {
                            td.label {
                                display: none;
                            }

                            & {
                                .woo-variation-items-wrapper {
                                    .variable-items-wrapper {
                                        border-radius: 100px;
                                        border: none;
                                        background:  #EDEDEB;
                                        flex-wrap: nowrap;

                                        .variable-item.button-variable-item {
                                            margin: 0;
                                            padding: 0;
                                            outline: none;
                                            border: none;
                                            box-shadow: none;
                                            border-radius: inherit;
                                            background-color: transparent;
                                            padding: 1.6rem 4rem;
                                            height: auto;

                                            .variable-item-contents {
                                                .variable-item-span {
                                                    color: #7C7C7C;
                                                    font-size: 1.6rem;
                                                }
                                            }
                                        }

                                        .variable-item.button-variable-item.selected {
                                            background-color: #2A4934;
                                            .variable-item-contents {
                                                .variable-item-span {
                                                    color: #FFF;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            // &:last-child {
                                
                            // }
                        }
                    }
                }

                .single_variation_wrap {
                    .woocommerce-variation-add-to-cart {
                        .single_add_to_cart_button  {
                            .add_to_cart_inner_price {
                                del {
                                    opacity: .5;
                                }
                                ins {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .quantity {
                margin-block-start: 5rem;
            }
        }
    }
}
// End inner

@include media-LXL {
    .product-kombucha {
        &__add-to-cart {
            form {
                .custom-product-text {
                    .variations {
                        tbody {
                            tr {
                                .woo-variation-items-wrapper {
                                        .variable-items-wrapper {
                                            .variable-item.button-variable-item {
                                                padding: 1.2rem 2rem;
                                            }
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // End inner
}
// End LXL

@include media-M {
    .product-kombucha {
        &__gallery {
            gap: 1.2rem;
        }

        &__summary {
            .custom-product-additional-details {
                gap: 1.2rem;
            }
        }
    }
}